{% extends "base.html" %}
{% block container %}
<div id="wiki_title">{{ title }}</div>


<form id="my-awesome-dropzone" action="/" class="dropzone">
</form>
<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>

<script data-pace-options='{ "startOnPageLoad": false }' src="http://wiki.phyng.com/pace.min.js"></script>
<style>
    .pace {
      -webkit-pointer-events: none;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    .pace-inactive {
      display: none;
    }

    .pace .pace-progress {
      background: #29d;
      position: fixed;
      z-index: 2000;
      top: 0;
      left: 0;
      height: 2px;

      -webkit-transition: width 1s;
      -moz-transition: width 1s;
      -o-transition: width 1s;
      transition: width 1s;
    }

    .pace .pace-progress-inner {
      display: block;
      position: absolute;
      right: 0px;
      width: 100px;
      height: 100%;
      box-shadow: 0 0 10px #29d, 0 0 5px #29d;
      opacity: 1.0;
      -webkit-transform: rotate(3deg) translate(0px, -4px);
      -moz-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
      -o-transform: rotate(3deg) translate(0px, -4px);
      transform: rotate(3deg) translate(0px, -4px);
    }

    .pace .pace-activity {
      display: block;
      position: fixed;
      z-index: 2000;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
      border: solid 2px transparent;
      border-top-color: #29d;
      border-left-color: #29d;
      border-radius: 10px;
      -webkit-animation: pace-spinner 400ms linear infinite;
      -moz-animation: pace-spinner 400ms linear infinite;
      -ms-animation: pace-spinner 400ms linear infinite;
      -o-animation: pace-spinner 400ms linear infinite;
      animation: pace-spinner 400ms linear infinite;
    }

    @-webkit-keyframes pace-spinner {
      0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @-moz-keyframes pace-spinner {
      0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @-o-keyframes pace-spinner {
      0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @-ms-keyframes pace-spinner {
      0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
    }
    @keyframes pace-spinner {
      0% { transform: rotate(0deg); transform: rotate(0deg); }
      100% { transform: rotate(360deg); transform: rotate(360deg); }
    }
</style>

<script type="text/javascript">
        paceOptions = {  
        startOnPageLoad : false;
  
    }  
</script>



<script type="text/javascript">



     Dropzone.options.myAwesomeDropzone = { // The camelized version of the ID of the form element

        // The configuration we've talked about above
        autoProcessQueue: true,
        uploadMultiple: true,
        previewsContainer: false,
        maxFilesize: 25,
        parallelUploads: 25,
        maxFiles: 25,
        dictDefaultMessage: "拖拽或点击上传",

        // The setting up of the dropzone
        init: function() {
            this.on("success", function(file, response) {
                console.log("Filename:" + file.name + "  response:" + response);
                //跳转网站
                window.location.href=response;
            });
            this.on("removedfile", function(file) {
                console.log("File " + file.name + "removed");
            });
            this.on("uploadprogress", function(file, progress) {
                Pace.start();
                Pace.track(progress);
                console.log('progress');
                Pace.stop();
            });
        }

      }
</script>

<style>
.dropzone {
    display:inline-block;
    margin: 20px;
    width: 600px;
    height: 100px;
    text-align: center;
    color:#666;
    padding:30px;

    border:3px solid #bbb;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.dz-upload { 
    display: block; 
    background-color: red; 
    height: 10px;
    width: 0%;
}

</style>


{% endblock %}